################### REPORTING ON DEPLOYMENTS ##########################
<%- if has_lv? %>
== LINTING/VALIDATION ==

  <% ok.keys.each do |lbl| -%>
  <%= lbl.ljust(60) %><%= report(true) %>
  <% end -%>
  <% failed.keys.each do |lbl| -%>
  <%= lbl.ljust(60) %><%= report(false) %>
  <% end -%>

<% unless failed.empty? %># Errors found in the deployments:<% end %>
  <% failed.each do  |lbl, asset| -%>
=== Report for <%= lbl.bold %>
  <%- unless (asset.result[:lint].empty?) %>
  Lint:
  <% asset.result[:lint].each do |env, outcome| -%>
  <%= env %>:<%= report(outcome.ok?).rjust(60) %>
  <% unless outcome.ok? -%>

  helmfile lint output:
  ----------------
  <%= outcome.err.indent(2) %>
  <% end # closes if outcome clause -%>
  <% end # closes lint loop-%>
  <% end # closes if lint clause -%>
  <%- unless asset.validate_errors.empty? %>
  Validate:
  <%- asset.validate_errors.each do |lbl, error| %>

  Report for test case <%= lbl.red %>
  -------------------------------

  <% if error.is_a?(KubeyamlTestOutcome) || error.is_a?(KubeconformTestOutcome)-%>
  <% error.err.each do  |l, e| %>
  <%= l.red %>: <%= e.split("\n").shift %>
  <% end # closes kubeyaml error loop-%>
  <% else -%>
  Yaml validation error:
  <%= error.err.indent(2) %>
  <% end # closes error if -%>
  <% end # closes validate_errors loop -%>
  <% end # closes if validate clause%>
  <% end # closes failed loop -%>
<% end # closes if has_lv? %>
<% if has_diff? %>
== Diffs in deployments
  <% if with_diffs.empty? %>  <%= "No diffs found".bold %><% end %>
  <% with_diffs.each do |lbl,asset| %>

  === Diffs for <%= lbl.bold %>

  <% asset.diffs.each do |diff_lbl,outcome| -%>
  Diff for test case <%= diff_lbl.red %>
  -------------------------------
  <%= outcome.out.indent(2) %>
  -------------------------------
  <% end # closes the diffs loop -%>
  <% end # closes the assets loop -%>
  <% end # closes if has_diff? -%>
####################### END DEPLOYMENTS ###############################